<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List Portfolio</title>
</head>
<%- include('./partials/navbar') %>
<body>
  <h1>LIST PORTFOLIO</h1>
  <table border="1">
    <thead>
      <tr>
        <th>No.</th>
        <th>Amount</th>
        <th>Investment Type</th>
        <th>Price Bought</th>
        <th>Stock Code</th>
        <th>Date Bought</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% portfolioData.forEach((e, i) => { %>
        <% if (e.amount > 0) { %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= e.amount %></td>
            <td><%= e.investmentType %></td>
            <td><%= currency(+e.priceBought) %></td>
            <td><a href="/companies/<%= e.Stock.id %>"></a><%= e.Stock.stockCode %></td>
            <td> <%= e.localeDate() %> </td>

            <td>
              <a href="/portfolio/<%= e.id %>?stockCode=<%= e.Stock.stockCode %>&priceBought=<%= e.priceBought %>">Detail </a>
            </td>
          </tr>
        <% } %>
      <% }) %>
    </tbody>
  </table>
</body>
</html>