<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<%- include('./partials/navbar') %>
<body>
  </html>
  <hr>
  <h1>STOCK LIST</h1>
  <hr>
  <form >
    <input type="search" name="search">
    <input type="submit" value="Search">
  </form>
  <table border="1">
    <thead>
      <tr>
        <td>STOCK CODE</td>
        <td>Company</td>
        
        

      </tr>
    </thead>
    <tbody>
      <% data.forEach(e => { %>
        <tr>
          <td><a href="/stocks/<%= e.id %>?stockCode=<%= e.stockCode %>"><%= e.stockCode %></a></td> 
          <td><%= e.Company.name %></td>
         
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>